/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0.2rem 0;
}

section {
    border: 0.1rem dashed #e24646;
    padding: 1rem;
}
